<!DOCTYPE html>
<html>

{% extends "layout.html" %}

{% block title %}Posts{% endblock %}

{% block body %}

<!-- Home with all posts -->
<h3>Latest posts</h3>

<div>
    <fieldset class="form-group">

    {% for post in posts_pagination.items %}
    <div class="content-section">
        <legend class="border-bottom mb-2">
            <a href="{{ url_for('blog.post', id=post.id) }}" class="post-link">{{ post.title }}</a>
        </legend>

        
            <form id="Form">
                <div class="form-group mb-2">
                    {{ post.content[:500] }}{% if post.content|length > 500 %} <a href="{{ url_for('blog.post', id=post.id) }}" class="read-link">(...)</a>  {% endif %}
                </div>
                
                <small style="font-style: italic;">
                    by {{ post.user_id }}
                </small>

            </form>
    </div>
    </fieldset>
    {% endfor %}



<!-- Pagination -->
<div class="mb-4">
    <nav>
        {% if posts_pagination.prev_num %}
            <a class="page-button mr-5" href="/home?page={{ posts_pagination.prev_num }}">Previous Page</a>
        {% else %}
            <span></span>
        {% endif %}    

        {% if posts_pagination.next_num %}
            <a class="page-button ml-5" href="/home?page={{ posts_pagination.next_num }}">Next Page</a>
        {% else %}
            <span></span>
        {% endif %}
    </nav>
</div>

</div>
{% endblock %}


</html>