<!DOCTYPE html>
<html>

{% extends "layout.html" %}

{% block title %}Posts{% endblock %}

{% block body %}
<!-- Home with all posts -->
<h2>Latest posts</h2>

<div>
    <fieldset class="form-group">

    {% for post in posts_pagination.items %}
    <div class="content-section">

        <a href="{{ url_for('blog.post', slug=post.id) }}" class="border-bottom mb-4">{{ post.title }}</a>
            <form id="Form">
                <div class="form-group mb-2">
                    {{ post.content }}
                </div>
                
                <small style="font-style: italic;">
                    by {{ post.user_id }}
                </small>

            </form>
    </div>
    </fieldset>
    {% endfor %}



<!-- Pagination -->
<div class="mb-4">
    <nav>
        {% if posts_pagination.prev_num %}
            <!-- <a href="/posts?page={{ posts_pagination.prev_num }}">Previous Page</a> -->
            <a href="/?posts={{ posts_pagination.prev_num }}">Previous Page</a>
            
        {% else %}
            <span></span>
        {% endif %}    

        <span> - </span>

        {% if posts_pagination.next_num %}
            <a class="page-button" href="/?posts={{ posts_pagination.next_num }}">Next Page</a>
        {% else %}
            <span></span>
        {% endif %}
    </nav>
</div>

</div>
{% endblock %}


</html>