<!DOCTYPE html>
<html>

{% extends "layout.html" %}

{% set active_page = '' %}

{% block title %}Individual post{% endblock %}


{% block body %}
<div class="mb-2">
    <a class="back-link" href="/home">← Back to all posts</a>
</div>

<div class="content-section">

    <legend class="border-bottom mb-4">{{ post.title }}</legend>
        <form id="Form">
            <div class="form-group mb-2">
                {{ post.content }}
            </div>
            
            <small style="font-style: italic;">
                by {{ post.user_id }}
            </small>

        </form>
</div>

<button class="edit-button" onclick="hideh2()">Edit post</button>
<button  class="btn btn-dark btn-sm px-4" action="{{ url_for('blog.deletepost', slug=post.id)}}" type="submit" value="UPDATE">Delete post</button>


{% if current_user.get_id() %}
<form style="visibility: hidden;" id="Form" action="{{ url_for('blog.updatepost', slug=post.id)}}" method="POST" class="hide has-text-centered">
    
    <h3>Edit</h3>
    
    <div class="form-group mb-4">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Change title" required>
    </div>
    
    <div class="form-group mb-4">
        <label class="mb-2" for="content">Subject</label>
        <textarea type="text" name="content" id="content" class="form-control" placeholder="Update your text" rows="5"></textarea>
    </div>

    <button  class="btn btn-dark btn-sm px-4" type="submit" value="UPDATE">Update</button>
    <!-- </div class="mt-4 mb-4">
        <button  class="btn btn-dark btn-sm px-4" type="submit" value="UPDATE">Update</button>
    </div> -->


</form>
{% endif %}

<script>
    const test = document.querySelector(".hide")

    function hideh2() {
        if (test.style.visibility === "hidden"){
            test.style.visibility = "visible";
        } else {
            test.style.visibility = "hidden";
        }
        
    }
</script>
{% endblock %}

</html>

