body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

title {
  color: #4c00ff;
}

p {
  color: #ff0000;
}

.bg-steel {
  background-color: #5f788a;
}

/* .site-header .navbar-nav .nav-link {
  color: #cbd5db;
} */

.nav-link{
  font-family: Arial, sans-serif;
  opacity: 0.5;
}

.nav-link:hover {
  color: #000000;
  transition: 0.7s;
  opacity: 1;
}

.flex-container {
  display: flex;
  flex-direction: column-reverse;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.link {
  color: #000000;
  text-decoration: none; 
}

.post-link {
  color: #000000;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
}

.post-link:hover {
  color: #b2dc50;
}

.back-link {
  color: #000000;
  text-decoration: none;
  font-size: small;
}

.back-link:hover {
  color: #b2dc50;
}

.filter:hover{
  filter: invert(100%) sepia(34%) saturate(3741%) hue-rotate(17deg) brightness(95%) contrast(79%);
  transition: 0.4s;
}

/* .site-header .navbar-nav .nav-link.active {
  font-weight: 500;
} */

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.page-button {
  border: 2px solid #c6ec6d;
  color: black;
  border-radius: 20px;
  padding: 8px 12px;
  text-decoration: none;
  font-size: small;
}

.page-button:hover {
  background-color: #D9FE85;
  border: 2px solid #D9FE85;
}

.edit-button {
  border: 1px solid #000000;
  background-color: none;
  color: black;
  border-radius: 20px;
  padding: 4px 8px;
  text-decoration: none;
  font-size: small;
}

#Form input, select {
  overflow: hidden;
  color: rgb(0, 0, 0);
  resize: none;
  width: 40vw;
  min-width: 400px;
  font-size: small;
  padding: 1vh !important;
  margin: 1vh 0vh 1vh 0vh !important;
}

#Form textarea {
  font-size: small;
  width: 40vw;
  min-width: 400px;
}


small {
  font-size: small;
}
